header{
    background-image: url("../images/toplogo.png");
    background-position: top right;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    padding: 10px;
    height: 20px;
}
h1{
    padding: 10px;
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px;
    margin: auto;

}

h2{
    padding: 10px;
}

body{

    font-family: Advent;


}

.indexbody{
    background-color: black;
    color: white;
    
}

.CTA{
    background-image: url("../images/CTA.png");
    background-position: top right;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-left: 150px;
    height: 250px;
    background-size: 100%;

}

p{
    padding: 10px;
    background-repeat: no-repeat;
}

fieldset{
    border: none;
    margin: 5px;
}

div{
    padding: inherit;
}

label{
    display: block;    
}

legend{
    font-size: 20px;
    border-bottom-style: groove;
    color: red;
}

a{
    display: inline-block;
    margin: 10px;
    color: blue;
}

.button{
    margin-left:30px;
}

ul{    
    list-style-type: none;
    padding: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

