
h1{
    background-color: #25547b;
    text-align: center;
    color: white;
    padding: 10px;
    margin: auto;
    border-bottom: solid;
}

h2{
    padding: 10px;
}


body{
    border: solid;
    font-family: sans-serif;
    
}


p{
    padding: 10px;
}


fieldset{
    border: none;
    margin: 5px;
    
}


div{
    
    padding: inherit;
}


label{
    display: block;    
}



legend{
    font-size: 20px;
    border-bottom-style: groove;
    color: #25547b;
}

a{
    display: inline-block;
    margin: 10px;
    color: blue;
}

.button{
    
}

ul{
    
    list-style-type: none;
    padding: inherit;
}





